.container {
  background-image: url('/nightskybluebg.svg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
}

.logoimage {
  margin-top: 50px;
}

.description {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 0 0.5rem;
}

.data {
  display: flex;
  align-items: center;
  justify-content: center;
}

.forecast {
  margin: 25px;
}

.day {
  font-weight: bold;
  font-size: 24px;
}